body{text-align: center;}
body{-webkit-text-fill-color: rgb(192, 151, 17);}
body{background-color: rgb(255, 0, 0);}
body{background-image: linear-gradient(to bottom, red, black);}
footer{text-align: left;}